body {
  overflow-x: hidden;
  font-family: 'Krub', sans-serif;
  font-size: 17px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #edf0f2;
  color: #394b59;
}
a, h1, h2, h3 {
  color: #000;
}
h3 {
  font-weight: 400;
}
hr {
  border: 1px solid #edf0f2;
}
h1 {
  text-transform: uppercase;
}
#container {
  background: #fffeff;
  position: absolute;
  min-height: 100%;
  padding: 20px 30px 20px 30px;
  box-sizing: border-box;
}
@media (min-width: 800px) {
  #container {
    width: 860px;
    left: 50%;
    padding: 20px 60px 20px 60px;
    margin-left: -430px;
  }
}
@media (max-width: 799px) {
  #container {
    width: 100%;
    left: 0;
  }
}
form {
  padding: 40px;
  background: #10273b;
}
#describer {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  display: block;
  box-sizing: border-box;
}
#describer td {
  padding: 5px 15px;
}
#describer tr td:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
#cy {
  margin: 15px 0;
  width: 100%;
  min-height: 200px;
}
.__________cytoscape_container {
}
.graph_node {
  font-size: 14px;
}
.graph_edge {
  font-size: 10px;
}
.alertify-log-show {
  background: #fff;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
