<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kyle Tan - PT Project</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <section id="container">
      <div id="cy"></div>
    </section>
    <style>
      body {
        font-family: helvetica;
        font-size: 14px;
      }
      #cy {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999;
      }
      h1 {
        opacity: 0.5;
        font-size: 1em;
      }
    </style>
    <script>
      const ontology = {{ ontology|tojson }};
    </script>
    <script src="{{ url_for('static', filename='cytoscape.min.js') }}?{{ range(1, 99999) | random }}"></script>
    <script src="{{ url_for('static', filename='script.min.js') }}?{{ range(1, 99999) | random }}"></script>
  </body>
</html>
