<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kyle Tan - PT Project</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?{{ range(1, 99999) | random }}">
  </head>
  <body>
    <section id="container">
      <div id="cy"></div>
      <table id="describer">
        <tr>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>-</td>
          <td>-</td>
        </tr>
      </table>
    </section>
    <script>
      const ontology = {{ ontology|tojson }};
    </script>
    <script src="{{ url_for('static', filename='cytoscape.min.js') }}?{{ range(1, 99999) | random }}"></script>
    <script src="{{ url_for('static', filename='script.min.js') }}?{{ range(1, 99999) | random }}"></script>
  </body>
</html>
